body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #9999999;
}
h1 {
    color: ##999999;
}
input, button {
    margin: 5px 0;
    padding: 10px;
    width: calc(100% - 22px);
}
button {
    cursor: pointer;
    background-color: ##999999;
    color: white;
    border: none;
}
button:hover {
    background-color: ##999999;
}
#campos {
    margin-bottom: 20px;
}
.produto {
    margin-bottom: 15px;
}
.remover {
    margin-top: 5px;
    background-color: ##999999;
}
.remover:hover {
    background-color: ##999999;
}
pre {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    overflow: auto;
}
